
        <div class="content">
            <div class="header">
                <h1>Login</h1>
                <div class="header-box">
                    <a href="./signup.html">
                        <span>Doesnot have an account yet?</span>
                         <button class='signup'>
                            <a href="./signup.html">Sign Up</a>    
                            </button>
                    </a>

                </div>
               
            </div>
            <div class="card-body">
                <form id="form" class="form">

                    <div class="form-control">
                        <label for="username">Email:</label><br />
                        <input type="email" id="email" />
                        <small></small>
                    </div>
                    <div class="form-control">
                        <label for="username">Password</label><br />
                        <input type="password" id="password" />
                        <small></small>
                    </div>
                    
                    <div class='btn-box'>
                        <button class='login'>
                           <a href="./chat.html">Login</a> 
                        </button>
                       
                    </div>
                </form>
            </div>
        </div>
    <script src="./login.js"></script>
