
  <div class="profile-container">
    <div class="about-section">
      <h2>About Me</h2>
      <p class="bio" id="bio"></p>
    </div>
    <div class="questions-asked-section">
      <h2>Questions Asked</h2>
      <ul class="questions-asked-list">
        {{#each chat as |chat|}}

        <li><a href='/chats/:id'>{{chat.question}}</a></li>
        {{/each}}
      </ul>
    </div>
