<script type="text/x-handlebars-template" id="profile-template">
  <div class="profile-container">
    <div class="about-section">
      <h2>About Me</h2>
      <p class="bio" id="bio"></p>
    </div>
    <div class="questions-asked-section">
      <h2>Questions Asked</h2>
      <ul class="questions-asked-list">
        {{#each chat}}
        <li><a href=`/chats/${chat.id}`>{{chat.question}}</a></li>
        {{/each}}
      </ul>
    </div>
</script>
