  <div class="header">
          <h1>Sign Up</h1>
        </div>
        <div class="card-body">
          <form id="form" class="form">
            <div class="form-control">
              <label for="username">User Name:</label><br />
              <input type="text" id="username" />
              <small></small>
            </div>
            <div class="form-control">
              <label for="username">Email:</label><br />
              <input type="email" id="email" />
              <small></small>
            </div>
            <div class="form-control">
              <label for="username">Password</label><br />
              <input type="password" id="password" />
              <small></small>
            </div>
            <div class="btn-box">
              <button class="login">Sign In</button>
            </div>
          </form>
        </div>

<script src="/src/signUp.js"></script>